.App {
  text-align: center;
}
.total-player{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.selected-player{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  border-radius: 5px;
  border: 1px solid rgba(170, 13, 13, 0.767);
  margin-left: 10px;
  margin-right: 10px;
}
.player-container h3{
  background-color:rgba(0, 0, 0, 0.767);
  color:whitesmoke;
  line-height: 35px;
}

